@import "variables";
.team{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $accent-Color;
    a{
        i{
            text-decoration: none;
            color: $primary-Color;
        }
        i:hover{
            color: $secondary-Color;
        }
    }
    img{
        width:250px ;
        height:250px ;
       
    }
    h3{
        font-family:$my-Font ;
        font-size: 20px;
        font-weight:$my-Bold ;
        color: $secondary-Color;
    }
  
    .text{
        h1{
            font-family:$my-Font ;
            font-size: 50px;
            font-weight:bold ;
            color: $secondary-Color;
        }
        p{
            font-size: 25px;
            font-family:$my-Font ;
       
            color: $secondary-Color;
            margin-bottom: 60px;
        }
    }
}

@media(max-width:991px){
    .team{
        padding-bottom: 80px;

        a{
            i{
               margin-bottom: 30px;
            }
        }
        img{
            width:200px ;
            height:200px ;
            
        }
      
    }
}


@media(max-width:512px){
    .team{
        padding-top: 80px;
        padding-bottom: 80px;
        .text{
            h1{
                
                font-size: 40px;
                
            }
            p{
                font-size: 20px;
               
            } 
           
        }
    }
}
@media(max-width:394px){
    .team{
        padding-bottom: 60px;
        .text{
            h1{
                
                font-size: 35px;
                
            }
            p{
                font-size: 18px;
               
            } 
           
        }
    }
}

 @media(max-width:350px){
    .team{
         padding-bottom: 50px;
       .text{
                 h1{
                
                font-size: 30px;
                
             }
             p{
                 font-size: 16px;
               
             } 
           
         }
     }
 }